
[submodule "mpmc-aula-01"]
	path = mpmc-aula-01
	url = git@github.com:DiegoAscanio/mpmc-aula-01.git
[submodule "mpmc-aula-02"]
	path = mpmc-aula-02
	url = git@github.com:DiegoAscanio/mpmc-aula-02.git
[submodule "lab-mpmc-aula-01"]
	path = lab-mpmc-aula-01
	url = git@github.com:DiegoAscanio/lab-mpmc-aula-01.git
[submodule "mpmc-aula-03"]
	path = mpmc-aula-03
	url = git@github.com:DiegoAscanio/mpmc-aula-03.git
[submodule "lab-mpmc-aula-02"]
	path = lab-mpmc-aula-02
	url = git@github.com:DiegoAscanio/lab-mpmc-aula-02.git
[submodule "lab-mpmc-aula-03"]
	path = lab-mpmc-aula-03
	url = git@github.com:DiegoAscanio/lab-mpmc-aula-03.git
